body{
    padding: 50px;
    background-color: beige;
}


.lista-indice li{
    list-style-type: none;
    padding: 10px;
    padding-left: 0px;
}

.lista-indice li a{
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    margin-top: 5px;
    transition: 250ms ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
}

.lista-indice li a:link{
    color: grey;
}

.lista-indice li a:visited{
    color: grey
}

.lista-indice li a:hover{
    color: silver;
    font-weight: 900;
    background-color: grey;
    
}

.lista-indice li a:active{
    color: rgb(236, 236, 236);
    font-weight: 900;
    background-color: rgb(87, 86, 86);
}

/* EJERCICIO 1 - FORMATOS */

h1{
    color: rgb(204, 40, 40);
}

/* EJERCICIO 2 - IMAGENES */

.fotos-gatitos img{

    width: 200px;
    height: 200px;
}

/* EJERCICIO 3 - SECCIONES Y CLASES */

h1.fnt-red {
    color: red;
}

.fnt-blue {
    color: blue;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo{
    color: lightseagreen;
    font-size: 30px;
    font-style: italic;
}

.texto{
    color: darkblue;
    font-size: 15px;
}

.destacado{
    font-weight: bold;
    font-style: italic; 
}

/* EJERCICIO 4 - MARGENES, BORDES, ALINEACION */

.contenedor{
    margin: 20px;
    padding: 5px;
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    min-width: 500px;
    width: 700px;
}

.producto{

    border: 1px solid rgb(179, 179, 179);
    background-color: rgb(236, 236, 236);
    margin: 5px;
    border-radius: 10px;
}

.img-producto{

    text-align: center;
    padding: 5px;
    
}

.img-producto img{
    
    border-radius: 10px;
    box-shadow: 0px 3px 3px gray;
    
}

.txt-producto{
    margin: 20px;
}

.precio-producto, .titulo-producto, .comentarios{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.precio-producto{
    
    font-weight: bold;
}

.comentarios{

    color: grey;
}

/* EJERCICIO 4b - POSICIONAMIENTO */

.menu-superior{

    position: fixed;
    top: 0px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: blue;
    font-weight: bold;
    color: white;
    text-align: center;
}

.menu-inferior{

    position: fixed;
    bottom: 0px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: red;
    font-weight: bold;
    color: white;
    text-align: center;
}

.nopadding{
    padding: 0px;
    margin: 0px;
}

.enlace-centrado{
    text-align: center;
    position: relative;
    top: 140px;

}


/* EJERCICIO 4c - POSICIONAMIENTO 2 */

div.rectangulo{
    width: 40%;
    height: 350px;
    margin: auto;
    background-color: brown;
    text-align: center;
    font-size: 5em;
    font-family: tahoma;
    position: relative;
    font-weight: bold;
    color: white;
}

div.rectangulo p{
    position: relative;
    top: 50px;
}

div.circulo{
    width: 150px;
    height: 150px;
    border: 8px solid brown;
    border-radius: 80px;
    background-color: white;
   
}

div.circulo-top-left{
    position: absolute;
    top: -60px;
    left: -60px;
    z-index: 1;
}

div.circulo-top-right{
    position: absolute;
    top: -60px;
    right: -60px;
    z-index: 1;
}

div.circulo-bottom-right{
    position: absolute;
    bottom: -60px;
    right: -60px;
    z-index: 1;
}

div.circulo-bottom-left{
    position: absolute;
    bottom: -60px;
    left: -60px;
    z-index: 1;
}

/* EJERCICIO 4d - POSICIONAMIENTO 3 */

div.capa-overflow{

    width: 50%;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
}



div.capa-izq{
    width: 50%;
    height: 100%;
    background-color: white;
    flex: 1;
    position: relative;

}

div.capa-der{
    width: 50%;
    height: 100%;
    background-color: aqua;
    flex: 1;
    position: relative;
    
}

div.capa-der p{
    position: absolute;
    top: 50px;
    left: -200px;
    margin-right: 50px;
    font-size: 1.5em;
   
}

/* EJERCICIO 5 - BIBLIOTECAS */

div.icon{
    padding: 20px;
    font-size: 100px;
    width: 100px;
    text-align: center;
    display: inline-block;
    margin-top: 3px;
    
}

div.icon-1{

    background-color: red;
}

div.icon-2{

    background-color: green;
}

div.icon-3{

    background-color: blue;
}

div.icon-4{

    background-color: grey;
}


div.arrow-container-2{
    display: block;
    position: relative;
    width: 25%;
    margin: 5px;
    margin: auto;
    
}

/* EJERCICIO 6 - LISTAS */

li.square{
    list-style-type: square;
}

li.letras{
    list-style-type: lower-latin
}

/* EJERCICIO 7 - TABLAS */

div.factura-container{
    background-color: rgb(241, 241, 241);
    border-left: 1px solid black;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 700px;
    display: flex;
    flex-direction: column;
    width: 750px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

div.factura-bloque-arriba{

    flex-direction: row;
    display: flex;
    height: 400px;
    
}

div.logo-block{
    background-color: rgb(241, 241, 241);
    display: flex;
    flex: 1;
    
}

div.cliente-block{
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
div.concepto-block{
    background-color: rgb(241, 241, 241);
    height: 300px;
    display: flex;
    flex-direction: column;
    
    
    
}

.logo-factura-fig img, .logo-factura-fig figcaption{

    width: 60%;
    position: relative;
    top: 40px;
}

.logo-factura-fig img{
    border: 2px solid rgb(197, 197, 197);
}

.cliente-block-arriba{
    
    width: 70%;
    margin-left: 30%;
    margin-top: 10px;
    font-size: 0.9em;
}

.cliente-block-abajo{
    width: 80%;
    border-left: 5px solid aquamarine;
    border-right: 5px solid aquamarine;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10%;
    font-size: 1.2em;
}

table.tabla-factura{
    border-collapse: collapse;
    
    width: 98%;
    margin: 10px;
}

table.tabla-factura th{
    background-color: aquamarine;
}

td.border-bottom{
    border-bottom: 3px solid aquamarine;
    
}

div.small-factura{
    margin-left: 10px;
}

hr.separador-factura{
    border-width: 2px;
    border-color: aquamarine;
    border-style: solid;
}

.cliente-block-arriba p{

    margin-left: 20px;
}

.cliente-block-abajo p{
    width: 80%;
}

.align-left{
    text-align: left;
}

.bgcolor-factura{
    background-color: rgb(241, 241, 241);
}


/* EJERCICIO 8 - PSEUDOCLASES */

div.campo{

    
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.fila{

   
    flex: 33%;
    display: flex;
    flex-direction: row;
}

div.fila div{

    border: 3px solid white;
    flex: 16%;
    background-color: silver;
    transition: 250ms ease-out;
}

div.fila div:hover{

    background-color: green;
}

.bomba{
    font-size: 8em;
    position: relative;
    top: 10px;
    left: 10px;
    filter: opacity(0);
    transition: 250ms ease-out;
}

div.mina:hover{
    transition: 250ms ease-out;
    background-color: red !important;
}

div.mina:hover .bomba{
    filter: opacity(1);
}

/* EJERCICIO 9 - PSEUDOELEMENTOS */

div.contenedor-pseudoelementos{
    width: 50%;
    margin: auto;
    padding: 30px;
    font-family: 'Oldenburg', cursive;
    background-color: blanchedalmond;
    font-weight: bold;
}

div.contenedor-pseudoelementos p::first-line{

    color: brown;
}

div.contenedor-pseudoelementos p::first-letter{

    font-size: 3em;
}

/* EJERCICIO 11 - ENLACES */

div.relleno{
    height:1000px;
}

div.anclaje{
    width: 200px;
    height: 200px;
    border: 5px solid brown;
    background-color: gold;
    text-align: center;
    line-height: 200px;
    margin: auto;
    font-size: 2em;
}

/* EJERCICIO 12 - FORMULARIO */

div.container-formulario{
    width: 60%;
    height: 350px;
    background-color: rgb(253, 253, 235);
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.top-form{
    flex: 40%;
    /*background-color: coral;*/
    padding: 10px;
    padding-top: 20px;
}

div.middle-form{
    flex: 40%;
    display: flex;
    flex-direction: row;
}

div.middle-left-form{
    flex: 50%; 
    /*background-color: lightcyan;*/
}

div.middle-right-form{
    flex: 50%;
    /*background-color: lightpink;*/
}

div.bottom-form{
    flex: 20%;
    /*background-color: mintcream;*/
}

.formulario .top-form label, .formulario .middle-right-form label{
    font-weight: bold;
    color: blue;
    margin: 10px;
    
    
}

.formulario .middle-right-form label{
    margin: 0px;
}

.formulario input[type=text]{
    width: 100%;
}

.formulario td{
    border-collapse: collapse;
    /*border: 1px solid silver;*/
    
}

div.radio-edad{
    margin-top: 20px;
    margin-left: 20px;
}

.formulario .selectors{

    margin-top: 15px;
}

.formulario .button-submit{

    padding: 7px 12px;
    margin-left: 20px;
    margin-top: 5px;
    font-weight: bold;
}

/* EJERCICIO 15 - MEDIA QUERIES */

.fixed{
    position: fixed;
    top: 0px;
    left: 0px;
}

@media only screen and (max-width: 799px){

    .media-xl{
        display: none;
    }
    .media-xs{
        background-color: red;
        width: 100%;
        height: 1000px;
        font-size: 5em;
        color: white;
        text-align: center;
        padding-top: 100px;
    }
}  

@media only screen and (min-width: 800px){

    .media-xs{
        display: none;
    }

    .media-xl{
        background-color: blue;
        width: 100%;
        height: 1000px;
        font-size: 5em;
        color: white;
        text-align: center;
        padding-top: 100px; 
    }
}

/* EJERCICIO 16 - BOOTSTRAP */

div.bootstrap-green{

    border: 5px solid white;
    background-color: green;
    height: 100px;
}

div.bootstrap-red{

    border: 5px solid white;
    background-color: red;
    height: 100px;
}

.centrado{
    margin: auto;
    text-align: center;
}

/* EJERCICIO 17 - BLOG BOOTSTRAP */

.articulos{
    height: 100px;
    
}

.articulos h1{
    line-height: 100px;
}

.articulo-texto h2{
    color: red;
    margin: 10px;
}

.articulo-texto h3{
    color:lightseagreen;
    margin: 10px;
}

.articulo-texto{
    
}

.articulo-imagen img{
   width: 100%;
}

/* EJERCICIO 18 - ARTÍCULOS BOOTSTRAP */

.carta-articulo{
    margin-top: 10%;
}

/* EJERCICIO 19 - FORMULARIO BOOTSTRAP */

div.form-container-bootstrap{
    background-color: azure;
    margin-top: 3%;
    padding: 3%;
}

div.bloque-form-bootstrap{
    padding-top: 10px;
}

.bloque-select-bootstrap{
    margin-top: 10px;
}

/* EJERCICIO 23 - LIKES */

div.likes{
    height: 30px;
    width: 70px;
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;


}

div.likes *{
    display: inline-block;
}

div.contadorLikes{
    width: 18px;
    height: 18px;
    background-color: white;
    margin-left: 5px;
    color: black;
    font-size: 0.8em;
    text-align: center;
}

.colorRed{

    color: red;
    font-size: 1.3em;
    position: absolute;
    margin-top: 3px;
    margin-right: 3px;
    top: 0px;
    right: 0px;

}

.colorRed:hover{
    cursor: pointer;
}

.thClicable:hover{

    cursor: pointer;
    background-color: rgb(236, 231, 231);
}